<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<div th:fragment="footer" class="footer bg-light">
    <div class="footer-icon">
        <img class="logo" th:src="@{/images/favicon.svg}" alt="Observer logo"/>
        <svg class="logo2" height="25" width="25" style="display: none">
            <line x1="0" y1="12" x2="400" y2="0" style="stroke:black"/>
        </svg>
    </div>
    <span th:text="'Observer. For internal use only. ' + ${#dates.format(#dates.createNow(),'YYYY')} + ' Default Value. To be continued and pray for Ukraine'"></span>
    <div class="footer-icon">
        <img class="logo" th:src="@{/images/ukr_flag.svg}" alt="Ukraine flag"/>
    </div>
</div>
</body>
</html>
