<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<div th:fragment="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <div class="logo-and-title">
            <a class="navbar-brand" href="/observer">
                <img class="logo" th:src="@{/images/favicon.svg}" alt="Logo"/>
                <span class="name-of-application">Observer</span>
            </a>
            <span class="version">Version: <span th:text="${@environment.getProperty('observer.version')}"></span></span>
        </div>

        <div class="buttons-and-search">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li th:if="${enableFilter}" class="nav-item">
                    <input class="form-control mr-sm-2 filter-resources-js" type="search" placeholder="Search" aria-label="Search"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/observer/preferences">Preferences</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>