
body {
    padding: 0;
    margin: 0;
}

body.green {
    background: rgba(0, 128, 0, .1);
}

body.orange {
    background: rgba(255, 165, 0, .1);
}

body.red {
    background: rgba(139, 0, 0, .1);
}

.root {
    display: grid;
    grid-template-columns: 50% 50%;
}

.observer-table-div {
    overflow-y: scroll;
    height: calc(100vh - 56px);
}

table th:nth-child(2) {
    width: 200px;
}

table td {
    height: 65px;
    max-height: 65px;
}

table thead {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}

.observer-element-data {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.observer-element-data span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.observer-element-data a {
    max-width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.observer-element-title {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.observer-element-status {
    color: white;
    display: grid;
}

.last-update-time {
    font-size: small;
}

.observer-element-status:hover {
    cursor: pointer;
}

.table tbody tr:hover td.observer-element-status {
    color: white;
}

.observer-element-status.red {
    background-color: darkred;
}

.observer-element-status.orange {
    background-color: orange;
}

.observer-element-status.green {
    background-color: green;
}
