
body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    height: 50px;
}

.header .logo {
    flex-grow: 1;
    font-weight: bolder;
}

.header .logo a {
    color: black;
    font-size: xx-large;
    text-decoration: none;
}

.header .logo a:hover {
    text-decoration: underline;
}

.header .menu {
    display: flex;
    flex-direction: column-reverse;
    float: right;
}

.root {
    display: flex;
    flex-wrap: wrap;
}

.resource-element {
    min-width: 500px;
    min-height: 200px;
    border: black 1px solid;
    flex-grow: 1;
}

.resource-element.red {
    background-color: darkred;
}

.resource-element.orange {
    background-color: orange;
}

.resource-element.green {
    background-color: green;
}

.resource-element a {
    float: right;
}

.resource-element:hover {
    opacity: 0.6;
}

.resource-element span {
    color: white;
}