
.loader {
    height: 100%;
    margin: 0 auto;
    animation: rotate 10s infinite;
}

@keyframes rotate {
    0% {
        background: darkred;
    }
    10% {
        background: red;
    }
    20% {
        background: orange;
    }
    30% {
        background: yellow;
    }
    40% {
        background: lightgreen;
    }
    50% {
        background: green;
    }
    60% {
        background: deepskyblue;
    }
    70% {
        background: blue;
    }
    80% {
        background: mediumpurple;
    }
    90% {
        background: rebeccapurple;
    }
    100% {
        background: pink;
    }
}
