
.loader {
    height: 65px;
    max-height: 65px;
    animation: rotate 12s infinite;
}

@keyframes rotate {
    0% {
        background: red;
    }
    10% {
        background: orangered;
    }
    20% {
        background: orange;
    }
    30% {
        background: yellow;
    }
    40% {
        background: lightgreen;
    }
    50% {
        background: green;
    }
    60% {
        background: deepskyblue;
    }
    70% {
        background: blue;
    }
    80% {
        background: mediumpurple;
    }
    90% {
        background: rebeccapurple;
    }
    100% {
        background: palevioletred;
    }
    110% {
        background: darkred;
    }
}
