
body {
    overflow: hidden;
}

.errorMessageDiv {
    display: flex;
}

.root {
    display: flex;
    padding: 20px;
}

.form-element {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10px;
}

.form-elements {
    padding-right: 10px;
}

.error-message {
    color: red;
    background-color: darkred;
}

.form-element .input-group {
    flex-flow: column;
}

.observer-table-div {
    margin: 0 auto;
    overflow-y: auto;
    height: calc(100vh - 442px);
}

.observer-table-div .observer-element-table th:nth-child(4) {
    width: 170px;
    max-width: 170px;
}

.id-js {
    cursor: grabbing;
}

.name-js, .path-js {
    cursor: pointer;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}

.save-new-js button, .remove-js button {
    width: 100%;
}

.observer-other-preferences-div {
    background-color: gray;
    margin: 20px;
    padding: 10px;
    color: white;
}

.observer-other-preferences-tables-div {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .observer-table-div {
        width: 100%;
    }
}

@media screen and (min-width: 1195px) {
    .observer-table-div {
        width: 50%;
    }
}
