<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" th:href="@{/images/favicon.svg}"/>
    <title>Observer</title>

    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/loader.css}" rel="stylesheet"/>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="root"></div>

<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/loader.js}"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>