<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="context-path" th:content="${#httpServletRequest.getContextPath()}">

    <link rel="icon" type="image/svg" th:href="@{/images/favicon.svg}"/>
    <title>Observer</title>

    <link th:href="@{/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/loader.css}" rel="stylesheet"/>
</head>
<body>

<div class="header-wrapper" th:insert="fragments/header :: header(enableFilter=true)"></div>

<div class="root"></div>

<script th:src="@{/js/general/general.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/home/loader.js}"></script>
<script th:src="@{/js/home/index.js}"></script>
<script th:src="@{/js/home/filter-resources.js}"></script>

</body>
</html>