<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" th:href="@{/images/favicon.svg}"/>
    <title>Observer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/loader.css}" rel="stylesheet"/>
</head>
<body>

<div class="header-wrapper" th:insert="fragments/header :: header(enableFilter=true)"></div>

<div class="root"></div>

<script th:src="@{/js/general/general.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/home/loader.js}"></script>
<script th:src="@{/js/home/index.js}"></script>
<script th:src="@{/js/home/filter-resources.js}"></script>

</body>
</html>